@model movtech.MVC.ViewModels.Vehicle.DetailsVehicleViewModel


<div class="row ">
    <nav aria-label="breadcrumb" class="w-100">
        <ul class="breadcrumb breadcrumb-bgcolor">
            <li class="breadcrumb-item  text-white"><a href='@Url.Action("Index", "Vehicles")'><span class="fas fa-car-side"></span> Veículos</a></li>
            <li class="breadcrumb-item  text-white">Detalhes</li>
            <li class="breadcrumb-item  text-white">@Model.Vehicle.Model</li>
        </ul>
    </nav>
</div>

<div class="row">
    <div class="col-12 p-1">
        <div class="card ">
            <div class="card-header">
                <h2>Detalhes do Veículo</h2>
                <p class="card-subtitle">@Model.Vehicle.Brand - @Model.Vehicle.Model </p>
            </div>
            <div class="card-body">
                <div class="row">

                    @if (Model.Vehicle.NeedsMaintenance || Model.Vehicle.NeedsChangeOil || Model.Vehicle.NeedsChangeTires)
                    {
                        <div class="col-12">
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h5>Atenção!</h5>
                                <ul>
                                    @if (Model.Vehicle.NeedsMaintenance)
                                    {
                                        <li>
                                            Realizar manutenção preventiva.
                                        </li>
                                    }
                                    @if (Model.Vehicle.NeedsChangeOil)
                                    {
                                        <li>
                                            Realizar troca de óleo.
                                        </li>
                                    }
                                    @if (Model.Vehicle.NeedsChangeTires)
                                    {
                                        <li>
                                            Realizar troca dos pneus.
                                        </li>
                                    }

                                </ul>
                            </div>
                        </div>
                    }


                    <div class="col-md-4">
                        <h5>Dados Básicos (@Html.DisplayFor(model => model.Vehicle.VehicleType))</h5>
                        <hr />
                        <dl>

                            <dt>
                                Placa
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Vehicle.LicensePlate)
                            </dd>

                            <dt>
                                Marca:
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Vehicle.Brand)
                            </dd>
                            <dt>
                                Modelo:
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Vehicle.Model)
                            </dd>
                            <dt>
                                Ano:
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Vehicle.Year)
                            </dd>

                            <dt>
                                Tipo de Combustível:
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Vehicle.FuelType)
                            </dd>

                            <dt>
                                RENAVAM:
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Vehicle.Renavam)
                            </dd>
                        </dl>
                    </div>

                    <div class="col-md-4">
                        <h5>Manutenção</h5>
                        <hr />
                        <dl>
                            <dt>
                                Quilometragem:
                            </dt>
                            <dd>
                                <span>@Model.Vehicle.Quilometers.ToString("F")</span> KMs
                            </dd>

                            <dt>
                                Preventiva:
                            </dt>
                            <dd>
                                <small class="text-muted">Realizar ao atingir @Model.Vehicle.GetNextMaintenanceKms("manutencao").ToString("F") KMs</small>
                                <div class="progress">
                                    <div class="progress-bar @Model.PercentMaintenanceClass" role="progressbar" style="width: @Model.PercentMaintenance%">@Model.PercentMaintenance%</div>
                                </div>
                            </dd>

                            <dt>
                                Uso do Óleo:
                            </dt>
                            <dd>
                                <small class="text-muted">Trocar ao atingir @Model.Vehicle.GetNextMaintenanceKms("oleo").ToString("F") KMs</small>
                                <div class="progress">
                                    <div class="progress-bar @Model.PercentOilClass" role="progressbar" style="width: @Model.PercentOil%">@Model.PercentOil%</div>
                                </div>
                            </dd>

                            <dt>
                                Uso dos Pneus

                            </dt>
                            <dd>
                                <small class="text-muted">Trocar ao atingir @Model.Vehicle.GetNextMaintenanceKms("rodas").ToString("F") KMs</small>
                                <div class="progress">
                                    <div class="progress-bar @Model.PercentTiresClass" role="progressbar" style="width: @Model.PercentTires%">@Model.PercentTires%</div>
                                </div>
                            </dd>
                        </dl>
                    </div>

                    <div class="col-md-4">
                        <h5>Status</h5>
                        <hr />
                        <dl>
                            <dt>
                                Na Garagem?
                            </dt>
                            <dd>
                                @(Model.Vehicle.InGarage ? "Sim" : "Não")
                            </dd>

                            <dt>
                                Condição:
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Vehicle.Status)
                            </dd>

                            <dt>
                                Motorista:
                            </dt>
                            <dd>
                                @if (Model.Vehicle.Driver != null)
                                {
                                    <a href="@Url.Action("Details", "Drivers", new { id = Model.Vehicle.DriverId })">@Model.Vehicle.Driver.Name</a>
                                }
                                else
                                {
                                    <span class="text-success">Veiculo disponível!</span>
                                }
                            </dd>
                        </dl>
                    </div>

                </div>
                <hr />
                <div class="row">
                    <div class="col-12">
                        <a class="btn btnlink-outline float-left" asp-action="Index">Voltar</a>

                        <a class="btn breadcrumb-bgcolor float-right text-white" href="@Url.Action("Edit", "Vehicles", new { id = Model.Vehicle.Id })"><span class="fas fa-pencil-alt"></span> Editar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>