@model IEnumerable<movtech.Domain.Entities.Driver>

@section Scripts{

    @if (ViewBag.MotoristaCadastrado == "true")
    {
        <script>
            Swal.fire({
                title: "Pronto!",
                html: "Motorista cadastrado com sucesso!",
                icon: 'success',
                confirmButtonText: 'Fechar'
            })
        </script>
    }

    @if (ViewBag.MotoristaEditado == "true")
    {
        <script>
            Swal.fire({
                title: "Pronto!",
                html: "Motorista editado com sucesso!",
                icon: 'success',
                confirmButtonText: 'Fechar'
            })
        </script>
    }

}




<div class="row ">
    <nav aria-label="breadcrumb" class="w-100">
        <ul class="breadcrumb breadcrumb-bgcolor">
            <li class="breadcrumb-item text-white"><span class="fas fa-user-tie"></span> Motoristas</li>
        </ul>
    </nav>
</div>

<div class="row">
    <div class="col-12 p-1">
        <div class="card ">
            <div class="card-header">
                <h2>Motoristas</h2>
                <p class="card-subtitle">Gerencie os motoristas de sua frota!</p>
            </div>

            <div class="card-body">

                <div class="row">
                    <div class="col-12">
                        <a href='@Url.Action("Create", "Drivers")' class="btn breadcrumb-bgcolor btn-sm float-right text-white"><span class="fas fa-plus"></span> Cadastrar novo motorista</a>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-12">

                        <table class="table table-striped table-sm text-center">

                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>CPF</th>
                                    <th>Telefone</th>
                                    <th>E-mail</th>
                                    <th>Ação</th>
                                </tr>
                            </thead>

                            <tbody>
                                @if (Model != null)
                                {
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Name</td>
                                            <td>@item.CPF</td>
                                            <td>@item.Phone</td>
                                            <td>@item.Email</td>
                                            <td>
                                                <a asp-action="Details" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="bottom" title="Detalhes" class="btn-link"><span class="fas fa-search"></span></a>
                                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn-link"><span class="fas fa-pencil-alt"></span></a>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="5">Nenhum motorista cadastrado ainda!</td>
                                    </tr>
                                }
                            </tbody>

                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

